.contacts__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 224, 224);
}
.contact__name {
  color: rgb(25, 29, 29);
}
.contact__number {
  color: rgb(33, 34, 37);
}
.contacts__btn {
  color: rgb(32, 27, 27);
  display: block;
  height: 30px;
  cursor: pointer;
}
