.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(246, 246, 248);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
}

.form__label {
  color: rgb(41, 41, 48);
  margin-bottom: 5px;
}

.form__input {
  padding: 2px 20px;
  width: 100%;
  margin-bottom: 30px;
}

.form__input::placeholder {
  color: rgb(190, 174, 174);
}
.form__btn {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
